@CHARSET "UTF-8";

.subsystem label>input {
	width: 100px;
	display: inline-block;
}

.subsystem {
	width: max-content;
}

.subsystem label {
	width: 100%;
	text-align: right;
	display: inline-block;
}

.graph {
	width: 50%;
	height: 500px;
	display: table-cell;
}

.subsystem-fields {
	float: left;
	width: max-content;
}

.subsystem-graphs {
	float: right;
	width: 83%;
	display: table;
}

.graph-row {
	display: table-row;
}